* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 300px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow:2px 2px 10px 0px rgba(235, 226, 226, 0.75) ;
}
.container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.container i {
  position: absolute;
  font-size: 60px;
  color: red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  cursor: pointer;
  opacity: 0;
  transition: transform 0.5s ease;
}
