* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.cart {
  padding: 2em 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  /* background-color: #b0ed98; */
  background-color: #ffffff;
  max-width: 500px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h5 {
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
}

h1 {
  background-color: rgb(31, 177, 240);
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.5rem;
  text-align: center;
}

.imageBox {
  width: 100%;
  max-width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-color: #5ce3d4;
  border-radius: 10px;
}

button {
  /* background-color: rgb(20, 107, 129);
   */
   background-color: #1b1be8;
 
  color:white;
  border-radius: 5px;
  width: 60%;
  height: 40px;
  font-weight: 600;
  font-size: 1em;
  border: 1px solid #5ce3d4;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:active {
  background-color:cyan;
  transform: scale(1.05);
  color: white;
}

@media (max-width: 480px) {
  h5 {
    font-size: 1rem;
  }
  h1 {
    font-size: 1rem;
  }
  button {
    width: 80%;
  }
  .imageBox {
    height: 180px;
  }
}

