* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Gilroy', sans-serif; /* Corrected font spelling and fallback */
    }
    
    html, body {
      width: 100%;
      height: 100%;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    h1{
      font-size: 40px;
    }
    .card {
      text-align: center;
      background-color: #fff;
      border-radius: 10px;
      padding: 20px 40px;
      margin: 20px;
      
    }
    .card img{
      width: 100%;
      height: 150px;
      border-radius: 10px;
      object-fit: cover;
      margin-bottom: 5px;
    }
    
    h2 {
      font-size: 2em;
      color: black;
      margin-top: 15px;

    }
    
    h5 {
      font-size: 1.6em;
      color: red;
      margin-top: 7px;
      transition: color 0.3s ease;
    }
    
    button {
      font-size:20px;
      padding: 10px 20px;
      background-color: rgb(47, 99, 255);
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 10px;
      transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    }
    
    button:hover {
      transform: scale(1.05);
      background-color: rgb(236, 22, 125);
    }
    
    /* Responsive Design */
    @media (max-width: 600px) {
      .card {
        width: 40%;
        padding: 15px;
      }
    
      h5 {
        font-size: 1em;
      }
      button {
        font-size: 1.2em;
        padding: 8px 16px;
      }
    }
    